@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #fefefe;
    display: grid;
    place-items: center;
}

canvas {
    display: block;
    margin: 25px auto;
    border: 1px solid #ccc;
}